*{
    --sectionColor: color: rgb(44, 37, 37);
}

.fullPage{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.postPage{
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postTitle{
    text-align: center;
    font-weight: 600;
    color: rgb(44, 37, 37);
    font-size: larger;
    padding-bottom: 3px;
}

.postIntroInfo{
    text-align: center;
    font-size: large;
}

.postContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postSectionTitle{
    font-size: large;
    text-align: center;
    font-weight: 600;
    color: var(--sectionColor);
}

.postParagraph{
    font-size: 16px;
    display: flex;
    line-height: 22px;
}

.commentSection{
    border-top: 1px black solid;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
}

.commentSectionTitle{
    text-align: center;
}

.newCommentForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px rgba(0, 0, 0, 0.37) solid;
    padding: 10px;
    border-radius: 5px;
}

.newCommentForm > input,
.newCommentForm > textarea{
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    padding: 5px;
    -webkit-appearance: none;
}

textarea{
    resize: none;
}

.comment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px rgba(0, 0, 0, 0.37) solid;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

@media screen and (max-width: 1300px){
    .postPage{
        width: 55%;
    }
}

@media screen and (max-width: 1100px){
    .postPage{
        width: 60%;
    }
}

@media screen and (max-width: 900px){
    .postPage{
        width: 65%;
    }
}

@media screen and (max-width: 800px){
    .postPage{
        padding-top: 20px;
        width: 75%;
    }
}

@media screen and (max-width: 600px){
    .postPage{
        width: 80%;
    }

    .postContent{
        gap: 5px;
    }

    .postTitle{
        font-size: 18px;
    }
    
    .postIntroInfo{
        font-size: 16px;
    }

    .postSectionTitle{
        font-size: 16px;
    }

    .postParagraph{
        font-size: 14px;
        line-height: 21px;
    }

    .postContent{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px){
    .postPage{
        width: 92%;
    }
}